* {
  margin: 0;
}

.app {
  display: flex;
  justify-content: space-evenly;
  background-color: #f5f6fa;
  padding: 20px;
}

.app__header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
}

.app__header > h1 {
  color: #fc3c3c;
  font-size: 2rem;
}

.app__stats {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
  margin-left: 100px;
  margin-right:100px;
}

.app__stats .MuiPaper-root{
  flex-grow: 1;
}

.app__left {
  flex: 0.8;
}

.app__information > h3 {
  color: #6a5d5d;
  font-weight: 400;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.app__information > h3:last-of-type {
  margin-top: 1rem;
}

.card__header{
  margin-bottom:20px;
}

@media (max-width: 1400px) {
  .app {
    flex-direction: column;
  }
  .app__right {
    margin-top: 20px;
  }
  .app__stats {
    margin-left: 0px;
    margin-right: 0px;
  }
}